.footer {
    padding: 100px 0 50px 0;
}
.contacts__item {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding-left: 61px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    vertical-align: middle;
}
.contacts__item_adress {
    background-image: url(../img/icon-adress.svg);
    background-size: 31px;
    margin-bottom: 39px;
}
.contacts__item_tel {
    background-image: url(../img/icon-tel.svg);
    display: inline-block;
    margin-bottom: 11px;    
}
.contacts__item_mail {
    display: block;
    background-image: url(../img/icon-mail.svg);
    margin-bottom: 40px;
}

.social__icon {
    width: 48px;
    display: inline-block;
    margin-right: 28px;
}